* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.title, .subtitle {
    text-align: center;
    margin: 10px;
}
.div_style {
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
}
#div_down {
    width: 80px;
    height: 3px;
    top: 56%;
    left: 37%;
}
#div_stick {
    height: 210px;
    width: 3px;
    top: 29.5%;
    left: 39.6%;
}
#div_right {
    width: 80px;
    height: 3px;
    top: 29.5%;
    left: 39.6%;
}
#div_down_small {
    height: 30px;
    width: 3px;
    top: 29.5%;
    left: 44.6%;
}
#div_circle {
    display: none;
    width: 40px;
    height: 40px;
    top: 33%;
    left: 43.4%;
    border-radius: 50%;
    background-color: #34495e;
    border: 3px solid #fff;
}
.div_circleActive {
    display: block;
}
#div_body {
    display: none;
    height: 60px;
    width: 3px;
    top: 38%;
    left: 44.6%;
}
.div_bodyActive {
    display: block;
}
#div_left_hand {
    display: none;
    width: 29px;
    height: 3px;
    top: 40%;
    left: 43.1%;
    transform: rotate(45deg);
}
.div_left_handActive {
    display: block;
}
#div_right_hand {
    display: none;
    width: 29px;
    height: 3px;
    top: 40%;
    left: 44.4%;
    transform: rotate(-45deg);
}
.div_right_handActive {
    display: block;
}
#div_left_leg {
    display: none;
    width: 35px;
    height: 3px;
    top: 46.78%;
    left: 42.75%;
    transform: rotate(-45deg);
}
.div_left_legActive {
    display: block;
}
#div_right_leg {
    display: none;
    width: 35px;
    height: 3px;
    top: 46.78%;
    left: 44.3%;
    transform: rotate(45deg);
}

.div_right_legActive {
    display: block;
}

.hangman_container {
    max-width: 150px;
}

.wrong {
    display: none;
    position: absolute;
    top: 27%;
    left: 55%;
}
.wrongActive {
    display: block;
}
.wrong_letters {
    display: none;
    position: absolute;
    top: 30%;
    left: 55%;
    font-size: 24px;
}
.wrong_lettersActive {
    display: block;
}
.notification {
    padding: 22px 22px 16px;
    left: 40%;
    top: -57px;
    position: absolute;
    background: #00004D;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all .4s;
}
.show {
    bottom: 0;
}

.letters_container {
    text-align: center;
    margin: 465px 0 0;
}
.letters_container span {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 23px;
    border-bottom: 3px solid #2980b9;
}

#endGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 10;
    width: 200px;
    height: 120px;
    background-color: aqua;
    display: none;
}

#endGame button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}